.popups {
    display: grid;
    position: fixed;
    width:100vw;
    height:100vh;
    top:0;
    right:0;
}

.popups__card {
    grid-area: 1/1;
    background-color: var(--accent-col);
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.popups__card__message {
    font-size: 1.5rem;
    color: aliceblue;
}

.popups__close {
    /* display: none; */
    grid-area: 1/1;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: aliceblue;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
}
.popups__close:hover {
    opacity: 1;
}

.back_passive {
    height: auto;
    width: 17rem;
    top: 1rem;
    right: 1rem;
}

.back_active {

}